@import 'tailwindcss';

@theme {
  --color-orange-300: #f56642;
  --color-blue-100: #427bf5;
  --color-gray-50: #f8fafc;
  --color-gray-100: #f1f5f9;
  --color-gray-200: #e2e8f0;
  --color-green-800: #3f6212;
  --color-green-900: #365314;
  --color-green-950: #1a2e05;
}

/* Lenis */
html.lenis,
html.lenis body {
  height: auto;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-stopped {
  overflow: hidden;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

body {
  @apply antialiased;
}

h1 {
  @apply text-3xl md:text-4xl lg:text-6xl font-medium mb-3 tracking-wider text-center;
}

h2 {
  @apply text-2xl lg:text-4xl font-normal mb-3 tracking-wider;
}

h3 {
  @apply text-2xl font-bold mb-6;
}

h4 {
  @apply text-lg font-semibold tracking-wider mb-12;
}

.bg-antique {
  background-color: #f3e7df;
}

.bg-blue {
  background-color: #c3cfd7;
}

.bg-black {
  background-color: #000;
}

.bg-black footer figure svg {
  @apply text-white;
}

article h1 {
  @apply text-4xl font-medium tracking-normal mb-24;
}

article p {
  @apply mb-3;
}

article label {
  margin-bottom: 0.5rem;
  display: block;
}

article input,
article textarea {
  width: 100%;
  border-radius: 0.25rem;
  border-width: 1px;
  border-color: #ccc;
  padding-left: 1rem;
  padding-right: 1rem;
  padding-top: 0.75rem;
  padding-bottom: 0.75rem;
}

ul.services li {
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-repeat: no-repeat;
  padding-left: 1.5rem;
  font-size: 1.25rem;
  line-height: 1.75rem;
  background-image: url(../../img/arrow-right.svg);
  background-size: auto 25%;
  background-position: 0;
}

@import 'menu.css';
@import 'markdown.css';
